#menuList{
   /* border: solid rgba(255, 0, 0, 0.609);*/
    border-radius: 20px;
   
}
#menu{
 background: white;
 border-radius: 20px;
 color: rgba(138, 5, 5, 0.733);
 border: solid rgba(138, 5, 5, 0.733) 10px;
}
#menuList>li>p{
    color: rgba(138, 5, 5, 0.733);
}
.list-group-item-action:hover{
    cursor: pointer;
}
#menuList>li>ul>li{
    padding: 0;
    margin-top: 10px;
    list-style-type:none;
    border-left:solid rgb(168, 168, 168);
}
.push{
    height: 25px;  
  
}
#menuContent{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.specificList{
    color: rgb(53, 51, 51);
}
.hide{
    display: none;
}

#cart-div>p>a:first-child{
position: relative;

}
.hidden{
    visibility: hidden;
}
#carrello{
    position: relative;
    top:20px;
    
}
#cart-content{
    border:solid rgb(53, 51, 51);
    height: 250px;background-color: white; color: rgb(53, 51, 51);border-top:none;
    position: relative;
    top: -15px;
}
#carrello>div>p{
    padding: 0.9vh;
    padding-left: 3vh;    
}
#cartList>li{
    padding-top: 10px;
}
#cart-content{

width:100%;
}
input[type=number]{
    width: 40px;
} 
.custom-select{
 width: fit-content !important;
}
@media (max-width: 576px) {
   #menu,#menuContent{
       border:none;
       border-radius: 0;
   }
   .push{
  background-color: white;
}
#carrello{
    top: -20px;
}
#cart-content{
    border:none
}
.custom-select{
    width: fit-content !important;
   }
  }
  @media (min-width: 1200px) {
   #carrello{
      width: 40%;
    
   }
 }
   
